.Loader{
    animation: 1.3s infinite normal loader;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 55%;
}


@keyframes loader {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
