.conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.ul {
    display: flex;
    align-items: center;
}

.input {
    background: none;
    align-items: center;
    border: none;
    color: var(--primary-color);
}

.page {
    height: 34px;
    width: fit-content;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.acitvePage {
    background-color: var(--pagination-button-active-background);
}