.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    width: 100%;
    padding: 13px 0 10px;
}

.title {
    font-size: 18px;
    line-height: 18px;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link {
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 16px;
    color: var(--secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}