.last_input {
    margin-bottom: 16px;
}

.form {
    margin-bottom: 16px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}