.container {
    height: 40px;
    width: 100%;
    background: var(--mobile-player-bg);
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}

.info {
    display: flex;
flex-direction: column;
align-items: center;
justify-content:space-between;
max-width: 60%;
}

.trackname {
    max-width: 100%;
text-overflow: ellipsis;
overflow: hidden;
color: var(--primary-color);
font-size: 13px;
line-height: 14.5px;
font-weight: 500;
white-space: nowrap;
}

.author {
    max-width: 100%;
text-overflow: ellipsis;
overflow: hidden;
color: var(--secondary-color);
font-size: 11px;
line-height: 13px;
font-weight: 500;
white-space: nowrap;
}