.Input {
    flex: 1 1 auto;
    color: var(--primary-color);
    box-shadow: none;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    outline:none;
    width: 100%;
    border: none;

    // &:focus{
    //   .input_container {
    //     outline:none;
    //     border: 1px solid var(--input-accent-color);
    //   }
    // }

    &::placeholder{
      color: var(--secondary-color);
    }
}

.container {
  transition: all 0.2s ease 0s;
}

.disabled {
  opacity: 0.6;
}


// .error {
//     align-self: flex-end;
//     margin-right: 10px;
//     color: var(--danger-color);
//     font: var(--font-m);
// }

.label {
    align-self: flex-start;
    color: var(--primary-color);
    font: var(--font-m);
}

.addonLeft {
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 16px;

    & svg {
        height: 16px;
        width: 16px;
        fill: var(--secondary-color);
    }
}

.input_container {
    outline:none;
    border: 1px solid transparent;
    background: var(--input-color);
    width: 100%;
    display: flex;
    padding: 5px 12px;
    border-radius: 6px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 8px;
}

.input_container:focus-within {
  outline:none;
  border: 1px solid var(--input-accent-color);
}

.danger.input_container:focus-within {
    outline:none;
    border: 1px solid var(--danger-color);
  }

.danger {
    color: var(--danger-color);

    &::placeholder{
      color: var(--danger-color);
    }

    & svg {
        fill: var(--danger-color);
    }
}