.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.background {
    object-fit: cover;
    filter: blur(10px); 
}

.center_image {
    min-width: 200px;
    border-radius: 18px;
    overflow: hidden;
    background-color: var(--skeleton-animation-color-start);
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

.name {
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.subtitle {
    font-size: 16px;
    color: var(--secondary-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    margin-left: auto;
}

