.container {
    position: relative;
}

.backlight {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    inset: 0;
    filter: blur(9px);
}

.image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    background: #0C1116;
    border-radius: 5px;
    position: absolute;
    inset: 0;
}

.addon {
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    background: #0000008e;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &:hover {
        opacity: 1;
    }

    & > svg {
        width: 70%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 15%
}

.xs {
    height: var(--avatar-size-xs);
    width: var(--avatar-size-xs);
    flex: 0 0 var(--avatar-size-xs);
}

.s {
    height: var(--avatar-size-s);
    width: var(--avatar-size-s);
    flex: 0 0 var(--avatar-size-s);
}

.m {
    height: var(--avatar-size-m);    
    width: var(--avatar-size-m); 
    flex: 0 0 var(--avatar-size-m);   
}

.l {
    height: var(--avatar-size-l);
    width: var(--avatar-size-l);
    flex: 0 0 var(--avatar-size-l);
}

.size_40 {
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
}

.showAddon {
    opacity: 1;
}

.disableAddonHover {
    &:hover {
        opacity: 0;
    }
}