.menu_bg {
    background: var(--menu-bg);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 7px;
    top: 0;
    left: 0;
    z-index:1;
}

.menu_container {
    position: fixed;
    bottom: 7px;
    left: 7px;
    right: 7px;
    width: auto;
    overflow: hidden;
    border-radius: 14px;
    background: var(--menu-container-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:0;
    justify-content: space-between;
    
    &:focus {
        outline: none;
    }
}