.Skeleton {
    animation: 4s infinite skeleton-breathing;
    overflow: hidden;
}


@keyframes skeleton-breathing {
    0%{
        background: var(--skeleton-color-from);
    }
  
    30%{
        background: var(--skeleton-color-to);
    }

    100%{
        background: var(--skeleton-color-from);
    }
}