.logo {
    padding: 32px 0 24px;

    & > svg {
        margin: 0 auto;
        display: block;
        height: 48px;
        width: 48px;
        fill: var(--primary-color);
    }
}

.title {
    margin-bottom: 10px;
}
