body {
    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl);


    // tooltip
    --font-size-tooltip: 12px;
    --z-index-tooltip: 20;
    

    // loader
    --loader-size-m: 30px;
    --loader-size-l: 40px;
    --loader-size-xl: 50px;


    // avatar
    --avatar-size-xs: 30px;
    --avatar-size-s: 48px;
    --avatar-size-m: 60px;
    --avatar-size-l: 156px;


    // skeleton
    --skeleton-color-from: #0C1116;
    --skeleton-color-to: #151e27;
}
