.app__default_theme {
    // typography
    --secondary-color: #8FABCD;
    --primary-color: #FFF;
    --danger-color: #FB7474;
    
    
    // bg
    --bg-color-transparent: rgb(26 35 46 / 20%);
    --bg-panel-color: #1A232E;
    --bg-panel-color-trasparent: #0c1014;
    --bg-color: rgb(26 35 46 / 100%);

    // mobile-player
    --mobile-player-bg: rgb(38 51 66);

    // skeleton
    --skeleton-color: #0C1116;
    --skeleton-animation-color-start: #0C1116;
    --skeleton-animation-color-end: #151e27;

    // menu
    --menu-bg: rgb(0 0 0 / 80%);
    --menu-container-bg: #2c3a4b;

    // diaog 
    --dialog-bg: rgb(0 0 0 / 80%);
    --dialog-panel-bg: #2c3a4b;

    // button
        // default
        --button-bg-color: #3C5169;
        --button-outline-color-focused: #5d7fa5;
        --button-bg-color-hovered: #4E6888;
        --button-bg-color-disabled: #2C3847;
        --button-text-color: #fff;
        --button-text-color-disabled: #3C5169;

        // danger
        --button-bg-color-danger: #BC0E0E;
        --button-outline-color-danger-focused: #e03838;
        --button-bg-color-danger-hovered: #DF2626;
        --button-bg-color-danger-disabled: #600B0B;
        --button-text-color-danger: #fff;
        --button-text-color-danger-disabled: #BC0E0E;

        // green
        --button-bg-color-green: #07AE2B;
        --button-outline-color-green-focused: #25ec50;
        --button-bg-color-green-hovered: #14D73F;
        --button-bg-color-green-disabled: #0A5319;
        --button-text-color-green: #fff;
        --button-text-color-green-disabled: #07AE2B;


    // icon-button
        // disabled
        --icon-button-disabled-color: #3a4655;
        --icon-button-bg-hovered: rgba(255 255 255 / 10%);
        --icon-button-bg-active: rgba(255 255 255 / 30%);;

    // input
    --input-color: #3C5169; 
    --input-disabled-color: #2C3847; 
    --input-accent-color:#3389f3;

    // form 

    --form-color: rgb(26 35 46 / 100%);
    --form-border-color: #333e4b;

    // tap
    --tap-background: rgb(255 255 255 / 15%);
    --tap-background-dark: rgb(255 255 255 / 41.1%);

    // tooltip
    --background-tooltip: #000;

    // loader
    --loader-color: #8FABCD;

    // tooltip 
    --tooltip-background-color: #8FABCD;
    --tooltip-color: #000;

    //  menu
    --menu-item-background: #2c3a4b;
    --menu-item-active-background: #202935;
}