.IconButton {
    display: flex;
    border-radius: 50%;
    align-items: center;
    background: transparent;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s linear 0s;
    padding: 5px;

    &:hover {
        background: var(--icon-button-bg-hovered);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
        background: var(--icon-button-bg-active);
    } 

    & svg {
        fill: var(--primary-color); 
    }

    &:disabled{
        cursor: default;

        &:active {
            transform: none;
            background: transparent;
        }

        &:hover {
            transform: none;
            background: transparent;
        }

        & svg {
            fill: var(--icon-button-disabled-color); 
        }
    }
}

.willRotate {
    transition: all 0.2s ease-in 0s;
}

.rotated {
    transform: rotate(180deg);
}

.secondary{
    & svg {
        fill: var(--secondary-color); 
    }
}

.xs {
    & svg {
        height: 12px;
        width: 12px;
    }
}

.s {  
    & svg {
        height: 20px;;
        width: 20px;
    }
}

.m {  
    & svg {
        height: 24px;
        width: 24px;
    }
}
  
.l {  
    & svg {
        height: 28px;
        width: 28px;
    }
}
  
.xl {
    & svg {
        height: 32px;
        width: 32px;
    }
}