.IconButton {
    display: flex;
    border-radius: 50%;
    align-items: center;
    background: transparent;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s linear 0s;
    padding: 5px;

    &:hover {
      background: var(--icon-button-bg-hovered);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
      background: var(--icon-button-bg-active);
    } 

    & svg {
      fill: var(--primary-color); 
    }

    &:disabled{
      cursor: default;

      &:active {
        transform: none;
        background: transparent;
      }

      &:hover {
        transform: none;
        background: transparent;
      }

      & svg {
        fill: var(--icon-button-disabled-color); 
      }
    }
}

.willRotate {
  transition: all 0.2s ease-in 0s;
}

.rotated {
  transform: rotate(180deg);
}

.secondary{
  & svg {
    fill: var(--secondary-color); 
  }
}

.s {  
  & svg {
    height: var(--font-line-s);
    width: var(--font-line-s);
  }
}

.m {  
    & svg {
      height: var(--font-line-m);
      width: var(--font-line-m);
    }
  }
  
  .l {  
      & svg {
      height: 26px;
      width: 26px;
    }
  }
  
  .xl {
      & svg {
      height: var(--font-line-xl);
      width: var(--font-line-xl);
    }
  }