.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    overflow: hidden;
    border-radius: 14px;
    background: var(--dialog-panel-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    max-width: 440px;
}

.enter {
    transition: all 0.3s ease 0s;
}

.enterFrom {
    opacity: 0;
}

.enterTo {
    opacity: 1;
}

.leave {
    transition: all 0.3s ease 0s;
}

.leaveFrom {
    opacity: 1;
}

.leaveTo {
    opacity: 0;
}