.container {
    position: fixed;
    bottom: 0;
    left:0;
    height: 91vh;
    width: 100vw;
    background: var(--bg-panel-color);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}



.blackout {
    position: absolute;
    inset: 0;
    background: rgba(0 0 0 / 50%);
}

.wrapper {
    position: fixed;
    inset: 0;
}

