.container {
    width: 100%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.browser {
    flex: 1 1 auto;
    min-width: 200px;
    flex-direction: row;
    padding: 0;
}

.times {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.desktop {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 5px;
}