div.box {
    max-width: 634px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 8px;

    @media (width <= 971px) {
        height: fit-content;
    }
}